{% extends 'base.html' %}
{% block content %}
{% include 'snippet/alerts.html' %}
  <div class="container">
    <div class="row">
      <div class="col s8">
        <form class="col s12" action="{% url 'profile' %}" enctype="multipart/form-data" method="post">
          {% csrf_token %}
        <div class="card">
          <div class="center-align">

            <div class="holder">
              <img id="imgPreview" src="{{profile.instance.image.url}}" class="img-circle" alt="pic" style="width:200px; height: 200px;"/>
          </div>
            <!-- <input accept="image/*" type='file' id="photo"  name="avatar" required="true" /> -->
            {{ profile.image }}
           </div>
           
          <div class="card-content">
            <div class="row">
              
                <div class="row">
                  <div class="input-field col s6">
                    {{ profile.username }}
                    <label for="first_name">User Name</label>
                  </div>
                  <div class="input-field col s6">
                    {{ profile.country }}
                    <label for="last_name">Country</label>
                  </div>
                </div>
                <div class="row">
                    

                  <fieldset>
                    <legend>{{ profile.gender.label }}</legend>
                    {% for radio in profile.gender %}
                    <div class="myradio">
                        {{ radio }}
                    </div>
                    {% endfor %}
                </fieldset>

                </div>

                <div class="right-align">
                  <button type="submit" class="waves-effect waves-light btn blue">Update</button>
                </div>

        </form>
            </div>
                  
          </div>
          <div class="card-action">
 
          </div>
        </div>
      </div>
      
        <div class="col s3">
          <div class="card horizontal">

              <div class="card-content">
                <i class="small material-icons">account_box</i>
                
                <p>Friend(30)</p>
              </div>

          </div>
        </div>
        <div class="col s3">
          <div class="card horizontal">

              <div class="card-content">
                <i class="small material-icons">add_circle</i>
                <p>Friend request(30)</p>
                
              </div>

          </div>
        </div>
    </div>
  </div>

  <script>
    $(document).ready(() => {
        $("#photo").change(function () {
            const file = this.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function (event) {
                    $("#imgPreview")
                      .attr("src", event.target.result);
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>

{% endblock %}