
{% extends 'base.html' %}

{% block content %}
{% include 'snippet/alerts.html' %}
<ul class="collection">
  {% for userPro in allUserProfile %}
  {% if not userPro.user.is_superuser %}
 
    <li class="collection-item avatar">
      <img src="{{userPro.image.url}}" alt="" class="circle">
      <span class="title">{{userPro.user.profile.username}}</span>
      {% if userPro not in profile.friends.all and userPro.user != request.user %}
        {% if userPro.was_send == False %}
      <a class=" btn secondary-content" href="{% url 'send_friend_request' userPro.user.id %}">Send a friend request</a>
      {% elif userPro.was_received %}
      <a class=" btn secondary-content" href="{% url 'accept_friend_request' userPro.user.id %}">Accept a friend request </a>
      {% else %}
      
      <p class=" secondary-content">Pending....</p>
      {% endif %}
      {% elif  userPro.user != request.user %}
      <p><a href="{% url 'message-detail' request.user.id userPro.user.id %}" >send a message</a>     
      </p>
      <a class="blue lighten-1 btn secondary-content"><i class="material-icons left">done</i>Friend</a><br>
      {% endif %}
    </li>

    {% endif %}
{% endfor %}
  </ul>
            
{% endblock %}