{% extends 'base.html' %}
{% block content %}
<ul class="collection">
  {% for user in allUser %}
  {% if not user.is_superuser %}
 
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      {% if user not in profile.friends.all and user != request.user %}
      <a class=" btn secondary-content">Send a friend request</a>
      {% elif  user != request.user %}
      <a class="blue lighten-1 btn secondary-content"><i class="material-icons left">done</i>Friend</a><br>
      {% endif %}
    </li>
    <!-- <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Title</span>
      <p><a href="#!" >send a message</a>
        
      </p>
      <a class="blue lighten-1 btn secondary-content"><i class="material-icons left">done</i>Friend</a><br>
      
    </li> -->
    {% endif %}
{% endfor %}
  </ul>
            
{% endblock %}