<nav class="lighten-3">

    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">Chat app</a>
        
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-trigger" href="#!" data-activates="notification" data-target="dropdown2">
                    <i class="material-icons white-text notif">notifications</i>
                    <small class="notification-badge">{% if friend_requests %}{{friend_requests.count}} {% else %} 0 {% endif %}</small>
                    
                  </a>
                  <ul id="dropdown2" class="dropdown-content">
                    {% for req in  friend_requests %}
                    <li>
                        <div class="col s12 m8 offset-m2 l6 offset-l3">
                            <div class="card-panel grey lighten-5 z-depth-1 card-margin">
                              <div class="row valign-wrapper">
                                <div class="col s2 ">
                                  <img src="{{req.sender.image.url}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                </div>
                                <div class="col s10">
                                  <span class="black-text">
                                    {{req.sender.username}} send you a friend reuquest
                                  </span>
                                </div>
                              </div>
                              <a href="{% url 'accept_friend_request' req.sender.id %}" class="waves-effect waves-light btn-small ">Accept</a>
                              <a href="#" class="waves-effect waves-light btn-small grey">Decline</a>
                            </div>
                          </div>
                    </li>
                    {% endfor %}

                  </ul>
            </li>
            
            
            <!-- Dropdown Trigger -->
            <li >
                <a class="dropdown-trigger" href="#" data-target="dropdown1"  ><img src="{{request.user.profile.image.url}}" alt="" class="circle responsive-img user" style="width:50px; height: 50px;" />{{request.user.username}}<i class="material-icons right">arrow_drop_down</i></a>

                <!-- Dropdown Structure -->
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="{% url 'profile' %}"><i class="large material-icons">face</i> See your profile </a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'user_list' %}"><i class="large material-icons">account_box</i>User List</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}"><i class="large material-icons">input</i>log out</a></li>
                </ul>
            </li>
            </li>
        </ul>
    </div>
</nav>