.notification-badge {
    position: relative;
    right: -15px;
    top: -20px;
    color: #941e1e;
    background-color: #f5f1f2;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 5px 10px;
}
.notif{
    position: absolute;
  }

.card-margin
{
    
    margin: 0 !important
}



.img-circle {
    border-radius: 50%;
  }

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative; 
    opacity: 1; 
}
.icon_style{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: white;
  cursor:pointer; 
}
